<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title th:inline="text">Peliculas</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
	rel="stylesheet" />
<style>
form .invalid-feedback {
	display: block;
}
</style>
<style>
.logo img {
  height: 40px;
  margin-right: 30px;
}
</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
			<a class="logo" href="/"><img src="../img/icons/perú.png" alt=""></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item"><a class="navbar-brand" href="/home">Inicio</a></li>
					<li class="nav-item"><a class="navbar-brand" href="/miLista">Mi Lista</a></li>
					<li class="nav-item"><a class="navbar-brand" href="/peliculas">Peliculas</a></li>
					<li class="nav-item"><a class="navbar-brand" href="/series">Series</a></li>
					<li class="nav-item"><a class="navbar-brand" href="/admin" th:href="@{/admin}">Administración</a></li>
<!-- 					<li class="nav-item"><a class="navbar-brand" href="#" th:href="@{/}">Registro e Inicio de Sesión</a></li> -->
				</ul>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Cerrar
							sesión</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<div class="container">
<!-- 	<div layout:fragment="content"> -->
		<h4>Todas las películas</h4>

		<div class="row">
			<div class="row">
				<div class="col-md-3 my-5" th:each="pelicula : ${peliculas}"
					th:object="${pelicula}">
					<a th:href="@{/peliculas/{id}(id=*{id})}" class="card shadow-lg"
						style="text-decoration: none;"> <img
						th:src="@{/assets/{filename}(filename=*{rutaPortada})}"
						th:alt="*{titulo}" class="card-img-top">
						<div class="card-body">
							<h2 class="card-title fs-6" th:text="*{titulo}"></h2>
							<p th:text="*{#temporals.format(fechaEstreno,'dd/MM/yyyy')}"
								class="text-muted small"></p>
						</div>
					</a>
				</div>
			</div>
			<div class="row mt-5" th:with="page=${peliculas}">
				<div class="col-sm-6">
					<div sd:pagination-sumary></div>
					<div class="col-sm-6">
						<nav>
							<ul class="pagination" sd:pagination="full"></ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>